<%layout("/layouts/boilerplate.ejs")%>
<div class="row">
  <div class="col-8 offset-2">
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          type="text"
          required
        />
        <div class="invalid-feedback">Wrong! Information.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" name="listing[description]" required>
<%= listing.description %>      
         </textarea
        >
        <div class="invalid-feedback">Wrong! Information.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image:</label>
        <input
          class="form-control"
          name="listing[image]"
          value="<%= listing.image %>"
          type="text"
          required
        />
      </div>

      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="price" class="form-label">Price:</label>
          <input
            name="listing[price]"
            value="<%= listing.price %>"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Wrong! Information.</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country:</label>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Wrong! Information.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location: </label>
        <input
          name="listing[location]"
          value="<%= listing.location %>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Wrong! Information.</div>
      </div>

      <button class="mb-3 mt-4 btn btn-dark" type="submit">Edit</button><br />
    </form>
  </div>
</div>
